/* General style for the website */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: none; /* Remove borders */
}

th, td {
    padding: 1.5em !important;
    text-align: left;
    border-bottom: 2px solid lightgrey;
    font-size: x-large;
}

th {
    border-bottom: 4px solid lightgrey; /* Bottom border for title row */
    font-weight: bold; /* Make the title bold */
    font-size: xx-large;
    padding: 0.5em !important;
}

header {
    text-align: center;
    font-size: 3.5rem !important;
    padding: 0.5em
}

main {
    margin: 4em;
}